Repository hashicorp/terraform-provider-awscc, pull requests merged in 2021-11, with the labels that each got.

#284 goreleaser: add "plain" signature file creation
  .goreleaser.yml
Labels: ci/cd

#258 Enhance Post Release Job
  .github/workflows/post-release.yml
  .github/workflows/post_publish.yml
  .github/workflows/release.yml
Labels: github_actions

#260 GithubActions: create tag workflow
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Labels: github_actions

#291 Update release workflow for goreleaser extra_files remap support and remove other protocol handling
  .github/workflows/release.yml
  .goreleaser.yml
Labels: github_actions, ci/cd
