Repository hashicorp/terraform-provider-awscc, pull requests merged in 2023-06, with the labels that each got.

#958 docs - awscc_iam_role
  docs/resources/iam_role.md
  examples/resources/awscc_iam_role/iam_role.tf
  examples/resources/awscc_iam_role/iam_role_with_assume_role.tf
  examples/resources/awscc_iam_role/iam_role_with_inline.tf
  examples/resources/awscc_iam_role/iam_role_with_managed.tf
  examples/resources/awscc_iam_role/iam_role_with_permission_boundary.tf
  templates/resources/iam_role.md.tmpl
Labels: documentation, service/iam

#965 docs: add example for:awscc_ec2_volume
  docs/resources/ec2_volume.md
  examples/resources/awscc_ec2_volume/volume_basic.tf
  templates/resources/ec2_volume.md.tmpl
Labels: documentation, examples, service/ec2

#936 docs: awscc_rds_db_instance
  docs/resources/rds_db_instance.md
  examples/resources/awscc_rds_db_instance/rds_db_instance.tf
  examples/resources/awscc_rds_db_instance/rds_db_instance_db_subnet_group.tf
  examples/resources/awscc_rds_db_instance/rds_db_instance_secret_manager.tf
  examples/resources/awscc_rds_db_instance/rds_db_instance_secret_manager_cmk.tf
  examples/resources/awscc_rds_db_instance/rds_db_instance_storage_autoscaling.tf
  templates/resources/rds_db_instance.md.tmpl
Labels: needs-triage

#976 docs - awscc_cloudfront_cloudfront_origin_access_identity
  docs/resources/cloudfront_cloudfront_origin_access_identity.md
  examples/resources/awscc_cloudfront_cloudfront_origin_access_identity/cloudfront_origin_access_identity.tf
  templates/resources/cloudfront_cloudfront_origin_access_identity.md.tmpl
Labels: documentation

#981 docs - ecs_cluster
  docs/resources/ecs_cluster.md
  examples/resources/awscc_ecs_cluster/ecs_cluster.tf
  templates/resources/ecs_cluster.md.tmpl
Labels: documentation, service/ecs

#982 docs - awscc_ecs_service
  docs/resources/ecs_service.md
  examples/resources/awscc_ecs_service/ecs_service.tf
  templates/resources/ecs_service.md.tmpl
Labels: documentation, service/ecs

#959 docs: add example for: awscc_rds_db_parameter_group
  docs/resources/rds_db_parameter_group.md
  examples/resources/awscc_rds_db_parameter_group/awscc_rds_db_parameter_group.tf
  examples/resources/awscc_rds_db_parameter_group/awscc_rds_db_parameter_group_create_before_destroy.tf
  examples/resources/awscc_rds_db_parameter_group/awscc_rds_db_parameter_group_tags.tf
  templates/resources/rds_db_parameter_group.md.tmpl
Labels: needs-triage

#988 docs - awscc_logs_query_definition
  docs/resources/logs_query_definition.md
  examples/resources/awscc_logs_query_definition/cloudwatch_log_query_definition.tf
  templates/resources/logs_query_definition.md.tmpl
Labels: documentation, needs-triage, service/cloudwatchlogs

#989 docs - awscc_logs_metric_filter
  docs/resources/logs_metric_filter.md
  examples/resources/awscc_logs_metric_filter/cloudwatch_log_metric_filter.tf
  templates/resources/logs_metric_filter.md.tmpl
Labels: documentation, needs-triage, service/cloudwatchlogs

#990 docs - awscc_logs_log_stream
  docs/resources/logs_log_stream.md
  examples/resources/awscc_logs_log_stream/cloudwatch_log_stream.tf
  templates/resources/logs_log_stream.md.tmpl
Labels: documentation, needs-triage, service/cloudwatchlogs

#1019 docs - awscc_secretsmanager_secret
  docs/resources/secretsmanager_secret.md
  examples/resources/awscc_secretsmanager_secret/secretsmanager_replica_regions.tf
  examples/resources/awscc_secretsmanager_secret/secretsmanager_secret.tf
  templates/resources/secretsmanager_secret.md.tmpl
Labels: needs-triage

#992 docs - awscc_logs_destination
  docs/resources/logs_destination.md
  examples/resources/awscc_logs_destination/cloudwatch_log_destination.tf
  examples/resources/awscc_logs_destination/cloudwatch_log_destination_with_dest_policy.tf
  templates/resources/logs_destination.md.tmpl
Labels: documentation, needs-triage, service/cloudwatchlogs

#1007 docs - awscc_osis_pipeline
  docs/resources/osis_pipeline.md
  examples/resources/awscc_osis_pipeline/osis_pipeline_file.tf
  examples/resources/awscc_osis_pipeline/osis_pipeline_file_logging.tf
  templates/resources/osis_pipeline.md.tmpl
Labels: needs-triage

#1010 docs - awscc_rds_db_subnet_group
  docs/resources/rds_db_subnet_group.md
  examples/resources/awscc_rds_db_subnet_group/rds_db_subnet_group_us-east-1.tf
  templates/resources/rds_db_subnet_group.md.tmpl
Labels: needs-triage

#1012 docs: add example for: awscc_eks_fargate_profile
  docs/resources/eks_fargate_profile.md
  examples/resources/awscc_eks_fargate_profile/eks_fargate_profile.tf
  examples/resources/awscc_eks_fargate_profile/eks_fargate_profile_labels.tf
  examples/resources/awscc_eks_fargate_profile/eks_fargate_profile_pod_execution_role.tf
  templates/resources/eks_fargate_profile.md.tmpl
Labels: needs-triage

#1022 docs - awscc_ec2_network_acl
  docs/resources/ec2_network_acl.md
  examples/resources/awscc_ec2_network_acl/ec2_nacl_basic.tf
  templates/resources/ec2_network_acl.md.tmpl
Labels: documentation, service/ec2

#1017 docs - cloudwatch_composite_alarm
  docs/resources/cloudwatch_composite_alarm.md
  examples/resources/awscc_cloudwatch_composite_alarm/with_actions_suppressor.tf
  examples/resources/awscc_cloudwatch_composite_alarm/with_two_sub_alarms.tf
  examples/resources/awscc_cloudwatch_composite_alarm/with_two_sub_alarms_basic.tf
  templates/resources/cloudwatch_composite_alarm.md.tmpl
Labels: documentation, service/cloudwatch

#1013 docs: add example for awscc_eks_cluster
  docs/resources/eks_cluster.md
  examples/resources/awscc_eks_cluster/eks_cluster_basic.tf
  examples/resources/awscc_eks_cluster/eks_cluster_controlplane_logging.tf
  examples/resources/awscc_eks_cluster/eks_cluster_encrypt_kubernetes_secrets.tf
  templates/resources/eks_cluster.md.tmpl
Labels: documentation, service/eks

#1023 docs - ec2_ipam_resource_discovery
  docs/resources/ec2_ipam_resource_discovery.md
  examples/resources/awscc_ec2_ipam_resource_discovery/two_operating_regions.tf
  templates/resources/ec2_ipam_resource_discovery.md.tmpl
Labels: documentation, service/ec2

#1024 docs - ec2_ipam
  docs/resources/ec2_ipam.md
  examples/resources/awscc_ec2_ipam/basic.tf
  examples/resources/awscc_ec2_ipam/two_operating_regions.tf
  templates/resources/ec2_ipam.md.tmpl
Labels: documentation, service/ec2

#1025 docs - ec2_ipam_resource_discovery_association
  docs/resources/ec2_ipam_resource_discovery_association.md
  examples/resources/awscc_ec2_ipam_resource_discovery_association/basic.tf
  templates/resources/ec2_ipam_resource_discovery_association.md.tmpl
Labels: documentation, service/ec2

#1026 docs - ec2_ipam_scope
  docs/resources/ec2_ipam_scope.md
  examples/resources/awscc_ec2_ipam_scope/basic.tf
  templates/resources/ec2_ipam_scope.md.tmpl
Labels: documentation, needs-triage, service/ec2
