Repository hashicorp/terraform-provider-awscc, pull requests merged in 2023-09, with the labels that each got.

#1183 docs - awscc_ec2_transit_gateway
  docs/resources/ec2_transit_gateway.md
  examples/resources/awscc_ec2_transit_gateway/ec2_transit_gateway.tf
  templates/resources/ec2_transit_gateway.md.tmpl
Labels: documentation, examples

#1177 docs- cassandra keyspace
  docs/resources/cassandra_keyspace.md
  examples/resources/awscc_cassandra_keyspace/keyspace_basic.tf
  examples/resources/awscc_cassandra_keyspace/keyspace_replication.tf
  examples/resources/awscc_cassandra_keyspace/keyspace_tags.tf
  templates/resources/cassandra_keyspace.md.tmpl
Labels: documentation, examples

#1178 docs: Cassandra Table
  docs/resources/cassandra_table.md
  examples/resources/awscc_cassandra_table/table.tf
  examples/resources/awscc_cassandra_table/table_regular_column.tf
  examples/resources/awscc_cassandra_table/table_tags.tf
  templates/resources/cassandra_table.md.tmpl
Labels: documentation, examples

#1174 docs: add example for: awscc_chatbot_slack_channel_configuration
  docs/resources/chatbot_slack_channel_configuration.md
  examples/resources/awscc_chatbot_slack_channel_configuration/first_example.tf
  templates/resources/chatbot_slack_channel_configuration.md.tmpl
Labels: documentation, examples

#1180 docs - awscc_supportapp_account_alias
  docs/resources/supportapp_account_alias.md
  examples/resources/awscc_supportapp_account_alias/supportapp_account_alias.tf
  templates/resources/supportapp_account_alias.md.tmpl
Labels: documentation, examples

#1192 docs: add example for: awscc_globalaccelerator_listener
  docs/resources/globalaccelerator_listener.md
  examples/resources/awscc_globalaccelerator_listener/first_example.tf
  templates/resources/globalaccelerator_listener.md.tmpl
Labels: documentation, examples

#1189 docs: add example for : awscc_globalaccelerator_accelerator
  docs/resources/globalaccelerator_accelerator.md
  examples/resources/awscc_globalaccelerator_accelerator/first_example.tf
  templates/resources/globalaccelerator_accelerator.md.tmpl
Labels: documentation, examples

#1188 docs - awscc_apigatewayv2_api
  docs/resources/apigatewayv2_api.md
  examples/resources/awscc_apigatewayv2_api/apigatewayv2_api.tf
  examples/resources/awscc_apigatewayv2_api/apigatewayv2_api_http.tf
  templates/resources/apigatewayv2_api.md.tmpl
Labels: documentation, examples

#1213 docs - awscc_apigateway_deployment
  docs/resources/apigateway_deployment.md
  examples/resources/awscc_apigateway_deployment/awscc_apigateway_deployment.tf
  templates/resources/apigateway_deployment.md.tmpl
Labels: needs-triage

#1210 docs: add example for: awscc_pipes_pipe
  docs/resources/pipes_pipe.md
  examples/resources/awscc_pipes_pipe/pipe_basic.tf
  examples/resources/awscc_pipes_pipe/pipe_enrichment.tf
  examples/resources/awscc_pipes_pipe/pipe_parameters.tf
  templates/resources/pipes_pipe.md.tmpl
Labels: needs-triage

#1148 doc : ec2_launch_template
  docs/resources/ec2_launch_template.md
  examples/resources/awscc_ec2_launch_template/ec2_launch_template_latest_amazon_linux.tf
  examples/resources/awscc_ec2_launch_template/ec2_launch_template_with_block_device_mapping.tf
  examples/resources/awscc_ec2_launch_template/ec2_launch_template_with_eip.tf
  templates/resources/ec2_launch_template.md.tmpl
Labels: documentation, examples, needs-triage

#1155 docs: add example for: awscc_efs_access_point
  docs/resources/efs_access_point.md
  examples/resources/awscc_efs_access_point/awscc_efs_access_point.tf
  examples/resources/awscc_efs_access_point/awscc_efs_access_point_posix_user.tf
  templates/resources/efs_access_point.md.tmpl
Labels: documentation, examples

#1175 docs: add example for: awscc_cloudformation_stack_set
  docs/resources/cloudformation_stack_set.md
  examples/resources/awscc_cloudformation_stack_set/service_managed_stackset.tf
  examples/resources/awscc_cloudformation_stack_set/simple_stackset.tf
  templates/resources/cloudformation_stack_set.md.tmpl
Labels: documentation, examples

#1211 docs: add examples for: awscc_securityhub_standard
  docs/resources/securityhub_standard.md
  examples/resources/awscc_securityhub_standard/securityhub_standard_cis_1_2.tf
  examples/resources/awscc_securityhub_standard/securityhub_standard_cis_1_4.tf
  examples/resources/awscc_securityhub_standard/securityhub_standard_disable_controls.tf
  examples/resources/awscc_securityhub_standard/securityhub_standard_foundational.tf
  examples/resources/awscc_securityhub_standard/securityhub_standard_nist.tf
  examples/resources/awscc_securityhub_standard/securityhub_standard_pci.tf
  templates/resources/securityhub_standard.md.tmpl
Labels: needs-triage
