Repository hashicorp/terraform-provider-awscc, pull requests merged in 2023-04, with the labels that each got.

#899 docs: add example for awscc_accessanalyzer_analyzer
  docs/resources/accessanalyzer_analyzer.md
  examples/resources/awscc_accessanalyzer_analyzer/account_analyzer.tf
  examples/resources/awscc_accessanalyzer_analyzer/organization_analyzer.tf
  templates/resources/accessanalyzer_analyzer.md.tmpl
Labels: documentation, service/accessanalyzer

#921 docs - organizations_organization_unit
  docs/resources/accessanalyzer_analyzer.md
  docs/resources/organizations_organizational_unit.md
  examples/resources/awscc_organizations_organizational_unit/nested_ou.tf
  examples/resources/awscc_organizations_organizational_unit/simple_ou.tf
  templates/resources/organizations_organizational_unit.md.tmpl
Labels: documentation, service/organizations

#914 docs - kms_alias
  docs/resources/kms_alias.md
  examples/resources/awscc_kms_alias/kms_alias.tf
  templates/resources/kms_alias.md.tmpl
Labels: documentation, service/kms

#912 docs: fixing example of awscc_accessanalyzer_analyzer
  docs/resources/accessanalyzer_analyzer.md
  examples/resources/awscc_accessanalyzer_analyzer/account_analyzer.tf
Labels: documentation, service/accessanalyzer
