Repository hashicorp/terraform-provider-awscc, pull requests merged in 2023-11, with the labels that each got.

#1283 docs: route53resolver_resolver_rule_association
  docs/resources/route53resolver_resolver_rule_association.md
  examples/resources/awscc_route53resolver_resolver_rule_association/simple.tf
  templates/resources/route53resolver_resolver_rule_association.md.tmpl
Labels: documentation, examples, needs-triage, service/route53resolver

#1281 docs: awscc_route53resolver_resolver_rule
  docs/resources/route53resolver_resolver_rule.md
  examples/resources/awscc_route53resolver_resolver_rule/simple_forward.tf
  templates/resources/route53resolver_resolver_rule.md.tmpl
Labels: documentation, examples, needs-triage, service/route53resolver

#1278 docs: awscc_cloudwatch_alarm
  docs/resources/cloudwatch_alarm.md
  examples/resources/awscc_cloudwatch_alarm/anomaly_detector.tf
  templates/resources/cloudwatch_alarm.md.tmpl
Labels: documentation, examples, service/cloudwatch

#1276 docs: awscc_ssm_parameter
  docs/resources/ssm_parameter.md
  examples/resources/awscc_ssm_parameter/ssm_advanced_policy.tf
  examples/resources/awscc_ssm_parameter/ssm_string_type.tf
  examples/resources/awscc_ssm_parameter/ssm_stringlist_type.tf
  templates/resources/ssm_parameter.md.tmpl
Labels: documentation, examples, needs-triage, service/ssm

#1275 docs: awscc_iam_managed_policy
  docs/resources/iam_managed_policy.md
  examples/resources/awscc_iam_managed_policy/managed_simple_1.tf
  templates/resources/iam_managed_policy.md.tmpl
Labels: documentation, examples, service/iam

#1264 docs: awscc_s3_bucket - default encryption
  docs/resources/s3_bucket.md
  examples/resources/awscc_s3_bucket/s3_bucket_encryption.tf
  templates/resources/s3_bucket.md.tmpl
Labels: documentation, examples, needs-triage, service/s3

#1263 docs: awscc_lambda_event_source_mapping - SQS
  docs/resources/lambda_event_source_mapping
  examples/resources/awscc_lambda_event_source_mapping/sqs_event_mapping.tf
  templates/resources/lambda_event_source_mapping.tmpl
Labels: documentation, examples, needs-triage, service/lambda

#1262 docs: awscc_apigateway_method - Mock example
  docs/resources/apigateway_method.md
  examples/resources/awscc_apigateway_method/apigateway_method_mock.tf
  templates/resources/apigateway_method.md.tmpl
Labels: documentation, examples, needs-triage, service/apigateway

#1308 doc: awscc_iam_role_policy
  docs/resources/iam_role_policy.md
  examples/resources/awscc_iam_role_policy/iam_role_policy.tf
  templates/resources/iam_role_policy.md.tmpl
Labels: documentation, examples, service/iam

#1309 doc: awscc_iam_group_policy
  docs/resources/iam_group_policy.md
  examples/resources/awscc_iam_group_policy/iam_group_policy.tf
  templates/resources/iam_group_policy.md.tmpl
Labels: documentation, examples, service/iam

#1310 doc: awscc_iam_user_policy
  docs/resources/iam_user_policy.md
  examples/resources/awscc_iam_user_policy/iam_user_policy.tf
  templates/resources/iam_user_policy.md.tmpl
Labels: documentation, examples, service/iam

#1311 docs: awscc_ecr_registry_policy
  docs/resources/ecr_registry_policy.md
  examples/resources/awscc_ecr_registry_policy/private_registry_policy.tf
  templates/resources/ecr_registry_policy.md.tmpl
Labels: documentation, examples, service/ecr

#1314 doc: awscc_sqs_queue_inline_policy
  docs/resources/sqs_queue_inline_policy.md
  examples/resources/awscc_sqs_queue_inline_policy/inline_policy.tf
  templates/resources/sqs_queue_inline_policy.md.tmpl
Labels: documentation, examples, service/sqs

#1315 doc: awscc_sns_topic_inline_policy
  docs/resources/sns_topic_inline_policy.md
  examples/resources/awscc_sns_topic_inline_policy/inline_policy.tf
  templates/resources/sns_topic_inline_policy.md.tmpl
Labels: documentation, examples, service/sns

#1317 doc: awscc_s3_bucket_policy
  docs/resources/s3_bucket_policy.md
  examples/resources/awscc_s3_bucket_policy/deny_public_read.tf
  examples/resources/awscc_s3_bucket_policy/website_referrer.tf
  templates/resources/s3_bucket_policy.md.tmpl
Labels: documentation, examples, service/s3

#1316 doc: awscc_oam_sink
  docs/resources/oam_sink.md
  examples/resources/awscc_oam_sink/oam_sink_accounts.tf
  examples/resources/awscc_oam_sink/oam_sink_org.tf
  templates/resources/oam_sink.md.tmpl
Labels: documentation, examples, service/cloudwatch

#1330 docs: add example for awscc_gamelift_script
  docs/resources/gamelift_script.md
  examples/resources/awscc_gamelift_script/gamelift_script.tf
  templates/resources/gamelift_script.md.tmpl
Labels: documentation, examples, service/gamelift

#1331 docs: add example for awscc_gamelift_matchmaking_rule_set
  docs/resources/gamelift_matchmaking_rule_set.md
  examples/resources/awscc_gamelift_matchmaking_rule_set/gamelift_matchmaking_rule_set.tf
  templates/resources/gamelift_matchmaking_rule_set.md.tmpl
Labels: documentation, examples, service/gamelift

#1332 docs: add example for awscc_gamelift_matchmaking_configuration
  docs/resources/gamelift_matchmaking_configuration.md
  examples/resources/awscc_gamelift_matchmaking_configuration/gamelift_matchmaking_configuration.tf
  templates/resources/gamelift_matchmaking_configuration.md.tmpl
Labels: documentation, examples, service/gamelift

#1333 docs: add example for awscc_gamelift_game_session_queue
  docs/resources/gamelift_game_session_queue.md
  examples/resources/awscc_gamelift_game_session_queue/gamelift_game_session_queue.tf
  templates/resources/gamelift_game_session_queue.md.tmpl
Labels: documentation, examples, service/gamelift

#1334 docs: add example for awscc_gamelift_fleet
  docs/resources/gamelift_fleet.md
  examples/resources/awscc_gamelift_fleet/gamelift_fleet.tf
  templates/resources/gamelift_fleet.md.tmpl
Labels: documentation, examples, service/gamelift
