Repository hashicorp/terraform-provider-awscc, pull requests merged in 2023-08, with the labels that each got.

#1036 docs: add example for: awscc_ec2_prefix_list
  docs/resources/ec2_prefix_list.md
  examples/resources/awscc_ec2_prefix_list/ec2_prefix_list_ipv4.tf
  examples/resources/awscc_ec2_prefix_list/ec2_prefix_list_ipv6.tf
  templates/resources/ec2_prefix_list.md.tmpl
Labels: documentation, examples

#1098 docs - awscc_ec2_volume_attachment
  docs/resources/ec2_volume_attachment.md
  examples/resources/awscc_ec2_volume_attachment/ec2_volume_attachment.tf
  templates/resources/ec2_volume_attachment.md.tmpl
Labels: documentation, examples, needs-triage

#1094 docs: connect_approved_origin
  docs/resources/connect_approved_origin.md
  examples/resources/awscc_connect_approved_origin/connect_approved_origin.tf
  templates/resources/connect_approved_origin.md.tmpl
Labels: documentation, examples

#1069 docs: add example for:awscc_ec2_egress_only_internet_gateway
  docs/resources/ec2_egress_only_internet_gateway.md
  examples/resources/awscc_ec2_egress_only_internet_gateway/egress_only_internet_gateway.tf
  templates/resources/ec2_egress_only_internet_gateway.md.tmpl
Labels: documentation, examples

#1119 docs: ec2_internet_gateway
  docs/resources/ec2_internet_gateway.md
  examples/resources/awscc_ec2_internet_gateway/ec2_internet_gateway.tf
  templates/resources/ec2_internet_gateway.md.tmpl
Labels: documentation, examples

#1106 doc:ec2_eip
  docs/resources/ec2_eip.md
  examples/resources/awscc_ec2_eip/ec2_eip.tf
  examples/resources/awscc_ec2_eip/ec2_eip_association.tf
  templates/resources/ec2_eip.md.tmpl
Labels: documentation, examples

#1113 docs - gamelift_location
  docs/resources/gamelift_location.md
  examples/resources/awscc_gamelift_location/basic.tf
  templates/resources/gamelift_location.md.tmpl
Labels: documentation, examples

#1111 docs: add example for awscc_timestream_table
  docs/resources/timestream_table.md
  examples/resources/awscc_timestream_table/table.tf
  templates/resources/timestream_table.md.tmpl
Labels: documentation, examples

#1133 Include `github.com/aws/smithy-go` module in `aws-sdk-go` dependabot group
  .github/dependabot.yml
Labels: dependencies

#1067 docs - awscc_sso_permission_set
  docs/resources/sso_permission_set.md
  examples/resources/awscc_sso_permission_set/awscc_sso_permission_set.tf
  templates/resources/sso_permission_set.md.tmpl
Labels: documentation, examples

#1070 docs: add example for:awscc_apigateway_request_validator
  docs/resources/apigateway_request_validator.md
  examples/resources/awscc_apigateway_request_validator/apigateway_request_validator.tf
  templates/resources/apigateway_request_validator.md.tmpl
Labels: documentation, examples

#1072 docs: add example for:awscc_efs_file_system
  docs/resources/efs_file_system.md
  examples/resources/awscc_efs_file_system/aws_efs_file_system_encryption.tf
  examples/resources/awscc_efs_file_system/aws_efs_file_system_lifecycle_policies.tf
  examples/resources/awscc_efs_file_system/awscc_efs_file_system.tf
  templates/resources/efs_file_system.md.tmpl
Labels: documentation, examples

#1123 docs - awscc_apigateway_resource
  docs/resources/apigateway_resource.md
  examples/resources/awscc_apigateway_resource/apigateway_resource.tf
  templates/resources/apigateway_resource.md.tmpl
Labels: documentation, examples

#1136 docs - ec2_ipam_pool_cidr
  docs/resources/ec2_ipam_pool_cidr.md
  examples/resources/awscc_ec2_ipam_pool_cidr/cidr.tf
  examples/resources/awscc_ec2_ipam_pool_cidr/netmask.tf
  templates/resources/ec2_ipam_pool_cidr.md.tmpl
Labels: documentation, examples

#1137 docs - ec2_ipam_pool
  docs/resources/ec2_ipam_pool.md
  examples/resources/awscc_ec2_ipam_pool/allocation_specifications.tf
  examples/resources/awscc_ec2_ipam_pool/auto_import.tf
  examples/resources/awscc_ec2_ipam_pool/basic.tf
  examples/resources/awscc_ec2_ipam_pool/ipv6_amazon.tf
  examples/resources/awscc_ec2_ipam_pool/ipv6_byoip_publicly_advertisable.tf
  examples/resources/awscc_ec2_ipam_pool/nested_pools.tf
  examples/resources/awscc_ec2_ipam_pool/provisioned_cidrs.tf
  templates/resources/ec2_ipam_pool.md.tmpl
Labels: documentation, examples

#1138 docs - ec2_ipam_allocation
  docs/resources/ec2_ipam_allocation.md
  examples/resources/awscc_ec2_ipam_allocation/cidr.tf
  examples/resources/awscc_ec2_ipam_allocation/netmask.tf
  templates/resources/ec2_ipam_allocation.md.tmpl
Labels: documentation, examples

#1144 docs: add example for: awscc_elasticache_subnet_group
  docs/resources/elasticache_subnet_group.md
  examples/resources/awscc_elasticache_subnet_group/awscc_elasticache_subnet_group.tf
  templates/resources/elasticache_subnet_group.md.tmpl
Labels: documentation, service/elasticache

#1147 docs: add example for: awscc_rds_db_cluster_parameter_group
  docs/resources/rds_db_cluster_parameter_group.md
  examples/resources/awscc_rds_db_cluster_parameter_group/rds_db_cluster_parameter_group.tf
  templates/resources/rds_db_cluster_parameter_group.md.tmpl
Labels: documentation, examples

#1156 docs: add example for: awscc_efs_mount_target
  docs/resources/efs_mount_target.md
  examples/resources/awscc_efs_mount_target/awscc_efs_mount_target.tf
  templates/resources/efs_mount_target.md.tmpl
Labels: documentation, examples

#1154 docs: add example for: elasticbeanstalk_environment
  docs/resources/elasticbeanstalk_environment.md
  examples/resources/awscc_elasticbeanstalk_environment/elasticbeanstalk_environment.tf
  templates/resources/elasticbeanstalk_environment.md.tmpl
Labels: documentation, examples

#1161 docs - lookoutvision_project
  docs/resources/lookoutvision_project.md
  examples/resources/awscc_lookoutvision_project/basic.tf
  templates/resources/lookoutvision_project.md.tmpl
Labels: needs-triage
