Repository hashicorp/terraform-provider-awscc, pull requests merged in 2024-02, with the labels that each got.

#1385 docs: awscc_apigatewayv2_integration_response
  docs/resources/apigatewayv2_integration_response.md
  examples/resources/awscc_apigatewayv2_integration_response/example1.tf
  templates/resources/apigatewayv2_integration_response.md.tmpl
Labels: documentation, examples, service/apigatewayv2

#1383 docs: awscc_autoscaling_auto_scaling_group
  docs/resources/autoscaling_auto_scaling_group.md
  examples/resources/awscc_autoscaling_auto_scaling_group/example1.tf
  examples/resources/awscc_autoscaling_auto_scaling_group/example2.tf
  templates/resources/autoscaling_auto_scaling_group.md.tmpl
Labels: documentation, examples, service/autoscaling

#1376 doc: awscc_iam_user
  docs/resources/iam_user.md
  examples/resources/awscc_iam_user/iam_user.tf
  templates/resources/iam_user.md.tmpl
Labels: documentation, examples, service/iam

#1375 doc: awscc_events_event_bus
  docs/resources/events_event_bus.md
  examples/resources/awscc_events_event_bus/basic.tf
  examples/resources/awscc_events_event_bus/partner.tf
  examples/resources/awscc_events_rule/cross-region.tf
  templates/resources/events_event_bus.md.tmpl
Labels: documentation, examples, service/eventbridge

#1373 doc: awscc_logs_log_group
  docs/resources/logs_log_group.md
  examples/resources/awscc_logs_log_group/basic.tf
  examples/resources/awscc_logs_log_group/data-protection.tf
  examples/resources/awscc_logs_log_group/encrypted-log.tf
  templates/resources/logs_log_group.md.tmpl
Labels: documentation, examples, service/cloudwatchlogs

#1369 docs - awscc_ec2_ec2_fleet
  docs/resources/ec2_ec2_fleet.md
  examples/resources/awscc_ec2_ec2_fleet/ec2_ec2_fleet.tf
  templates/resources/ec2_ec2_fleet.md.tmpl
Labels: documentation, examples

#1347 docs - awscc_ec2_capacity_reservation_fleet
  docs/resources/ec2_capacity_reservation_fleet.md
  examples/resources/awscc_ec2_capacity_reservation_fleet/ec2_capacity_reservation_fleet.tf
  templates/resources/ec2_capacity_reservation_fleet.md.tmpl
Labels: documentation, examples, service/ec2

#1346 docs - awscc_ec2_capacity_reservation
  docs/resources/ec2_capacity_reservation.md
  examples/resources/awscc_ec2_capacity_reservation/ec2_capacity_reservation-end-date.tf
  examples/resources/awscc_ec2_capacity_reservation/ec2_capacity_reservation.tf
  templates/resources/ec2_capacity_reservation.md.tmpl
Labels: documentation, examples, service/ec2
