Repository hashicorp/terraform-provider-awscc, pull requests merged in 2024-05, with the labels that each got.

#1696 Remove projects automation, use built-in automations
  .github/workflows/project.yml
Labels: github_actions

#1684 docs: added example for awscc_eks_access_entry
  docs/resources/eks_access_entry.md
  examples/resources/awscc_eks_access_entry/eks_access_entry.tf
  templates/resources/eks_access_entry.md.tmpl
Labels: documentation, examples, service/eks

#1681 docs: added example for awscc_codeguruprofiler_profiling_group
  docs/resources/codeguruprofiler_profiling_group.md
  examples/resources/awscc_codeguruprofiler_profiling_group/codeguruprofiler_profiling_group.tf
  templates/resources/codeguruprofiler_profiling_group.md.tmpl
Labels: documentation, examples, service/codeguruprofiler

#1670 docs: add example for awscc_apigatewayv2_model
  docs/resources/apigatewayv2_model.md
  examples/resources/awscc_apigatewayv2_model/model.tf
  templates/resources/apigatewayv2_model.md.tmpl
Labels: documentation, examples, service/apigatewayv2

#1669 docs: add example for awscc_apigatewayv2_domain_name
  docs/resources/apigatewayv2_domain_name.md
  examples/resources/awscc_apigatewayv2_domain_name/basic.tf
  templates/resources/apigatewayv2_domain_name.md.tmpl
Labels: documentation, examples, service/apigatewayv2

#1666 docs: add example for awscc_apigatewayv2_api_mapping
  docs/resources/apigatewayv2_api_mapping.md
  examples/resources/awscc_apigatewayv2_api_mapping/api_mapping.tf
  templates/resources/apigatewayv2_api_mapping.md.tmpl
Labels: documentation, examples, service/apigatewayv2

#1664 docs: add example for awscc_elasticloadbalancingv2_load_balancer
  docs/resources/elasticloadbalancingv2_load_balancer.md
  examples/resources/awscc_elasticloadbalancingv2_load_balancer/application.tf
  examples/resources/awscc_elasticloadbalancingv2_load_balancer/application_internal.tf
  examples/resources/awscc_elasticloadbalancingv2_load_balancer/eip_internet.tf
  examples/resources/awscc_elasticloadbalancingv2_load_balancer/ip_internal.tf
  examples/resources/awscc_elasticloadbalancingv2_load_balancer/network.tf
  templates/resources/elasticloadbalancingv2_load_balancer.md.tmpl
Labels: documentation, examples, service/elbv2

#1663 docs: add example for awscc_apigatewayv2_vpc_link
  docs/resources/apigatewayv2_vpc_link.md
  examples/resources/awscc_apigatewayv2_vpc_link/vpc_link.tf
  templates/resources/apigatewayv2_vpc_link.md.tmpl
Labels: documentation, examples, service/apigatewayv2

#1660 docs: added example for awscc_iot_thing
  docs/resources/iot_thing.md
  examples/resources/awscc_iot_thing/iot_thing.tf
  templates/resources/iot_thing.md.tmpl
Labels: documentation, examples, service/iot

#1659 docs: add example for awscc_apigateway_vpc_link
  docs/resources/apigateway_vpc_link.md
  examples/resources/awscc_apigateway_vpc_link/vpc_link.tf
  templates/resources/apigateway_vpc_link.md.tmpl
Labels: documentation, examples, service/apigateway

#1658 docs: add example for awscc_iam_instance_profile
  docs/resources/iam_instance_profile.md
  examples/resources/awscc_iam_instance_profile/profile.tf
  templates/resources/iam_instance_profile.md.tmpl
Labels: documentation, examples, service/iam

#1657 docs: added examples for awscc_bedrock_agent_alias
  docs/resources/bedrock_agent_alias.md
  examples/resources/awscc_bedrock_agent_alias/bedrock_agent_alias.tf
  examples/resources/awscc_bedrock_agent_alias/bedrock_agent_alias_routing.tf
  templates/resources/bedrock_agent_alias.md.tmpl
Labels: documentation, examples

#1655 docs: added example for awscc_bedrock_agent
  docs/resources/bedrock_agent.md
  examples/resources/awscc_bedrock_agent/bedrock_agent.tf
  templates/resources/bedrock_agent.md.tmpl
Labels: documentation, examples

#1654 docs: add example for awscc_opensearchserverless_vpc_endpoint
  docs/resources/opensearchserverless_vpc_endpoint.md
  examples/resources/awscc_opensearchserverless_vpc_endpoint/opensearchserverless_vpc_endpoint.tf
  templates/resources/opensearchserverless_vpc_endpoint.md.tmpl
Labels: documentation, examples

#1653 docs: added example for awscc_opensearchserverless_lifecycle_policy
  docs/resources/opensearchserverless_lifecycle_policy.md
  examples/resources/awscc_opensearchserverless_lifecycle_policy/opensearchserverless_lifecycle_policy.tf
  templates/resources/opensearchserverless_lifecycle_policy.md.tmpl
Labels: documentation, examples

#1650 docs: added examples for awscc_bedrock_guardrail
  docs/resources/bedrock_guardrail.md
  examples/resources/awscc_bedrock_guardrail/bedrock_guardrail_complete.tf
  examples/resources/awscc_bedrock_guardrail/bedrock_guardrail_content_policy.tf
  examples/resources/awscc_bedrock_guardrail/bedrock_guardrail_sensitive_info.tf
  examples/resources/awscc_bedrock_guardrail/bedrock_guardrail_topic.tf
  examples/resources/awscc_bedrock_guardrail/bedrock_guardrail_word_policy.tf
  templates/resources/bedrock_guardrail.md.tmpl
Labels: documentation, examples

#1648 docs: add example for awscc_apigateway_usage_plan
  docs/resources/apigateway_usage_plan.md
  examples/resources/awscc_apigateway_usage_plan/usage_plan.tf
  templates/resources/apigateway_usage_plan.md.tmpl
Labels: documentation, examples, service/apigateway

#1645 docs: add example for awscc_apigateway_stage
  docs/resources/apigateway_stage.md
  examples/resources/awscc_apigateway_stage/stage.tf
  templates/resources/apigateway_stage.md.tmpl
Labels: documentation, examples, service/apigateway

#1641 docs: add example for awscc_apigateway_domain_name
  docs/resources/apigateway_domain_name.md
  examples/resources/awscc_apigateway_domain_name/edge_optimized.tf
  examples/resources/awscc_apigateway_domain_name/regional.tf
  templates/resources/apigateway_domain_name.md.tmpl
Labels: documentation, examples, service/apigateway

#1640 docs: added examples for awscc_evidently_feature
  docs/resources/evidently_feature.md
  examples/resources/awscc_evidently_feature/evidently_feature.tf
  examples/resources/awscc_evidently_feature/evidently_feature_default.tf
  examples/resources/awscc_evidently_feature/evidently_feature_evaluation.tf
  examples/resources/awscc_evidently_feature/evidently_feature_overrides.tf
  templates/resources/evidently_feature.md.tmpl
Labels: documentation, examples

#1639 docs: added examples for awscc_evidently_project
  docs/resources/evidently_project.md
  examples/resources/awscc_evidently_project/evidently_project.tf
  examples/resources/awscc_evidently_project/evidently_project_log.tf
  examples/resources/awscc_evidently_project/evidently_project_s3.tf
  templates/resources/evidently_project.md.tmpl
Labels: documentation, examples

#1637 docs: added example for awscc_appflow_flow
  docs/resources/appflow_flow.md
  examples/resources/awscc_appflow_flow/appflow_flow.tf
  templates/resources/appflow_flow.md.tmpl
Labels: documentation, examples, service/appflow

#1634 docs: add example for awscc_apigateway_documentation_version
  docs/resources/apigateway_documentation_version.md
  examples/resources/awscc_apigateway_documentation_version/version.tf
  templates/resources/apigateway_documentation_version.md.tmpl
Labels: documentation, examples, service/apigateway

#1633 docs: add example for awscc_apigateway_documentation_part
  docs/resources/apigateway_documentation_part.md
  examples/resources/awscc_apigateway_documentation_part/method.tf
  examples/resources/awscc_apigateway_documentation_part/query.tf
  templates/resources/apigateway_documentation_part.md.tmpl
Labels: documentation, examples, service/apigateway

#1632 docs: add example for awscc_apigateway_client_certificate
  docs/resources/apigateway_client_certificate.md
  examples/resources/awscc_apigateway_client_certificate/client_certificate.tf
  templates/resources/apigateway_client_certificate.md.tmpl
Labels: documentation, examples, service/apigateway

#1631 docs: add example for awscc_acmpca_permission
  docs/resources/acmpca_permission.md
  examples/resources/awscc_acmpca_permission/permission.tf
  templates/resources/acmpca_permission.md.tmpl
Labels: documentation, examples, service/acmpca

#1630 docs: added examples for awscc_elasticache_serverless_cache
  docs/resources/elasticache_serverless_cache.md
  examples/resources/awscc_elasticache_serverless_cache/elasticache_serverless_cache_memcached.tf
  examples/resources/awscc_elasticache_serverless_cache/elasticache_serverless_cache_redis.tf
  templates/resources/elasticache_serverless_cache.md.tmpl
Labels: documentation, examples, service/elasticache

#1629 docs: added examples for awscc_elasticache_user_group
  docs/resources/elasticache_user_group.md
  examples/resources/awscc_elasticache_user_group/elasticache_user_group.tf
  templates/resources/elasticache_user_group.md.tmpl
Labels: documentation, examples, service/elasticache

#1628 docs: added examples for awscc_elasticache_user
  docs/resources/elasticache_user.md
  examples/resources/awscc_elasticache_user/elasticache_user.tf
  examples/resources/awscc_elasticache_user/elasticache_user_iam.tf
  examples/resources/awscc_elasticache_user/elasticache_user_password.tf
  templates/resources/elasticache_user.md.tmpl
Labels: documentation, examples, service/elasticache

#1625 docs: add example for awscc_acmpca_certificate_authority
  docs/resources/acmpca_certificate_authority.md
  examples/resources/awscc_acmpca_certificate_authority/acmpca_certificate_authority.tf
  examples/resources/awscc_acmpca_certificate_authority/revocation_list_certificate_authority.tf
  examples/resources/awscc_acmpca_certificate_authority/short_lived_certificate_authority.tf
  templates/resources/acmpca_certificate_authority.md.tmpl
Labels: documentation, examples, service/acmpca

#1622 docs: added examples for awscc_athena_capacity_reservation
  docs/resources/athena_capacity_reservation.md
  examples/resources/awscc_athena_capacity_reservation/athena_capacity_reservation.tf
  templates/resources/athena_capacity_reservation.md.tmpl
Labels: documentation, examples, service/athena

#1620 docs: added example for awscc_athena_named_query
  docs/resources/athena_named_query.md
  examples/resources/awscc_athena_named_query/athena_named_query.tf
  templates/resources/athena_named_query.md.tmpl
Labels: documentation, examples, service/athena

#1619 docs: update example for awscc_cloudtrail_trail event selectors
  docs/resources/cloudtrail_trail.md
  examples/resources/awscc_cloudtrail_trail/complex_trail.tf
Labels: documentation, examples, service/cloudtrail

#1618 docs: added example for awscc_athena_work_group
  docs/resources/athena_work_group.md
  examples/resources/awscc_athena_work_group/athena_work_group.tf
  templates/resources/athena_work_group.md.tmpl
Labels: documentation, examples, service/athena

#1682 docs: added example for awscc_codegurureviewer_repository_association
  docs/resources/codegurureviewer_repository_association.md
  examples/resources/awscc_codegurureviewer_repository_association/codegurureviewer_repository_association_codecommit.tf
  examples/resources/awscc_codegurureviewer_repository_association/codegurureviewer_repository_association_s3.tf
  templates/resources/codegurureviewer_repository_association.md.tmpl
Labels: documentation, examples, service/codegurureviewer

#1674 docs: added examples for awscc_signer_signing_profile
  docs/resources/signer_signing_profile.md
  examples/resources/awscc_signer_signing_profile/signer_signing_profile.tf
  examples/resources/awscc_signer_signing_profile/signer_signing_profile_validity.tf
  templates/resources/signer_signing_profile.md.tmpl
Labels: documentation, examples, service/signer

#1695 docs: added example for awscc_sagemaker_image
  docs/resources/sagemaker_image.md
  examples/resources/awscc_sagemaker_image/sagemaker_image.tf
  templates/resources/sagemaker_image.md.tmpl
Labels: documentation, examples, waiting-response, service/sagemaker

#1758 docs: added example for awscc_iot_custom_metric
  docs/resources/iot_custom_metric.md
  examples/resources/awscc_iot_custom_metric/iot_custom_metric.tf
  templates/resources/iot_custom_metric.md.tmpl
Labels: documentation, examples, service/iot

#1757 docs: added example for awscc_iot_dimension
  docs/resources/iot_dimension.md
  examples/resources/awscc_iot_dimension/iot_dimension.tf
  templates/resources/iot_dimension.md.tmpl
Labels: documentation, examples, service/iot

#1756 docs: added example for awscc_iot_role_alias
  docs/resources/iot_role_alias.md
  examples/resources/awscc_iot_role_alias/iot_role_alias.tf
  templates/resources/iot_role_alias.md.tmpl
Labels: documentation, examples, service/iot

#1754 docs: added example for awscc_iot_policy
  docs/resources/iot_policy.md
  examples/resources/awscc_iot_policy/iot_policy.tf
  templates/resources/iot_policy.md.tmpl
Labels: documentation, examples, service/iot

#1752 docs: added examples for awscc_grafana_workspace
  docs/resources/grafana_workspace.md
  examples/resources/awscc_grafana_workspace/grafana_workspace.tf
  examples/resources/awscc_grafana_workspace/grafana_workspace_saml.tf
  templates/resources/grafana_workspace.md.tmpl
Labels: documentation, examples

#1750 docs: added example for awscc_inspectorv2_cis_scan_configuration
  docs/resources/inspectorv2_cis_scan_configuration.md
  examples/resources/awscc_inspectorv2_cis_scan_configuration/inspectorv2_cis_scan_configuration.tf
  templates/resources/inspectorv2_cis_scan_configuration.md.tmpl
Labels: documentation, examples, service/inspector

#1741 docs - awscc_ecr_pull_through_cache_rule
  docs/resources/ecr_pull_through_cache_rule.md
  examples/resources/awscc_ecr_pull_through_cache_rule/ecr_pull_through_cache_rule.tf
  templates/resources/ecr_pull_through_cache_rule.md.tmpl
Labels: documentation, examples, service/ecr

#1734 docs: added example for awscc_wisdom_assistant_association
  docs/resources/wisdom_assistant_association.md
  examples/resources/awscc_wisdom_assistant_association/wisdom_assistant_association.tf
  templates/resources/wisdom_assistant_association.md.tmpl
Labels: documentation, examples, service/connect

#1733 docs: added example for awscc_wisdom_assistant
  docs/resources/wisdom_assistant.md
  examples/resources/awscc_wisdom_assistant/wisdom_assistant.tf
  templates/resources/wisdom_assistant.md.tmpl
Labels: documentation, examples, service/connect

#1728 docs: added example for awscc_sso_instance
  docs/resources/sso_instance.md
  examples/resources/awscc_sso_instance/sso_instance.tf
  templates/resources/sso_instance.md.tmpl
Labels: documentation, examples, service/ssoadmin

#1727 docs: added examples for awscc_sso_application_assignment
  docs/resources/sso_application_assignment.md
  examples/resources/awscc_sso_application_assignment/sso_application_assignment_group.tf
  examples/resources/awscc_sso_application_assignment/sso_application_assignment_user.tf
  templates/resources/sso_application_assignment.md.tmpl
Labels: documentation, examples, service/ssoadmin

#1726 docs: added example for awscc_sso_application
  docs/resources/sso_application.md
  examples/resources/awscc_sso_application/sso_application.tf
  templates/resources/sso_application.md.tmpl
Labels: documentation, examples, service/ssoadmin

#1725 docs: added example for awscc_securityhub_security_control
  docs/resources/securityhub_security_control.md
  examples/resources/awscc_securityhub_security_control/securityhub_security_control.tf
  templates/resources/securityhub_security_control.md.tmpl
Labels: documentation, examples, service/securityhub

#1723 docs: added example for awscc_bedrock_guardrail_version
  docs/resources/bedrock_guardrail_version.md
  examples/resources/awscc_bedrock_guardrail_version/bedrock_guardrail_version.tf
  templates/resources/bedrock_guardrail_version.md.tmpl
Labels: documentation, examples

#1722 docs: added example for awscc_location_api_key
  docs/resources/location_api_key.md
  examples/resources/awscc_location_api_key/location_api_key.tf
  templates/resources/location_api_key.md.tmpl
Labels: documentation, examples, service/location

#1715 docs: added example for awscc_location_geofence_collection
  docs/resources/location_geofence_collection.md
  examples/resources/awscc_location_geofence_collection/location_geofence_collection.tf
  templates/resources/location_geofence_collection.md.tmpl
Labels: documentation, examples, service/location

#1711 docs: added example for awscc_paymentcryptography_alias
  docs/resources/paymentcryptography_alias.md
  examples/resources/awscc_paymentcryptography_alias/paymentcryptography_alias.tf
  templates/resources/paymentcryptography_alias.md.tmpl
Labels: documentation, examples

#1710 docs: added examples for awscc_paymentcryptography_key
  docs/resources/paymentcryptography_key.md
  examples/resources/awscc_paymentcryptography_key/paymentcryptography_key_assymetric.tf
  examples/resources/awscc_paymentcryptography_key/paymentcryptography_key_card_verify.tf
  examples/resources/awscc_paymentcryptography_key/paymentcryptography_key_pin_encrypt.tf
  examples/resources/awscc_paymentcryptography_key/paymentcryptography_key_pin_verification.tf
  templates/resources/paymentcryptography_key.md.tmpl
Labels: documentation, examples

#1709 docs: added examples for awscc_qbusiness_retriever
  docs/resources/qbusiness_retriever.md
  examples/resources/awscc_qbusiness_retriever/qbusiness_retriever.tf
  templates/resources/qbusiness_retriever.md.tmpl
Labels: documentation, examples

#1708 docs: added examples for awscc_qbusiness_index
  docs/resources/qbusiness_index.md
  examples/resources/awscc_qbusiness_index/qbusiness_index.tf
  templates/resources/qbusiness_index.md.tmpl
Labels: documentation, examples

#1706 docs: added example for awscc_qbusiness_application
  docs/resources/qbusiness_application.md
  examples/resources/awscc_qbusiness_application/qbusiness_application.tf
  templates/resources/qbusiness_application.md.tmpl
Labels: documentation, examples

#1703 docs: added examples for awscc_codebuild_fleet
  docs/resources/codebuild_fleet.md
  examples/resources/awscc_codebuild_fleet/codebuild_fleet.tf
  examples/resources/awscc_codebuild_fleet/codebuild_fleet_gpu.tf
  templates/resources/codebuild_fleet.md.tmpl
Labels: documentation, examples, service/codebuild

#1699 docs: added examples for awscc_bedrock_data_source
  docs/resources/bedrock_data_source.md
  examples/resources/awscc_bedrock_data_source/bedrock_data_source.tf
  templates/resources/bedrock_data_source.md.tmpl
Labels: documentation, examples

#1651 docs: added example for awscc_bedrock_knowledge_base
  docs/resources/bedrock_knowledge_base.md
  examples/resources/awscc_bedrock_knowledge_base/bedrock_knowledge_base.tf
  templates/resources/bedrock_knowledge_base.md.tmpl
Labels: documentation, examples

#1702 fix: provider reference updated to use awscc and HashiCorp developer links
  README.md
  docs/index.md
  templates/index.md.tmpl
Labels: documentation

#1770 docs: added example for awscc_iam_group
  docs/resources/iam_group.md
  examples/resources/awscc_iam_group/iam_group.tf
  templates/resources/iam_group.md.tmpl
Labels: needs-triage

#1753 docs: added examples for awscc_inspectorv2_filter
  docs/resources/inspectorv2_filter.md
  examples/resources/awscc_inspectorv2_filter/inspectorv2_filter_account.tf
  examples/resources/awscc_inspectorv2_filter/inspectorv2_filter_imagetag.tf
  examples/resources/awscc_inspectorv2_filter/inspectorv2_filter_portrange.tf
  examples/resources/awscc_inspectorv2_filter/inspectorv2_filter_resourcetag.tf
  examples/resources/awscc_inspectorv2_filter/inspectorv2_filter_resourcetype.tf
  examples/resources/awscc_inspectorv2_filter/inspectorv2_filter_severity.tf
  examples/resources/awscc_inspectorv2_filter/inspectorv2_filter_vulnerability.tf
  templates/resources/inspectorv2_filter.md.tmpl
Labels: documentation, examples, service/inspector
