Repository hashicorp/terraform-provider-awscc, pull requests merged in 2024-08, with the labels that each got.

#1929 Add `bug` label to bug report template
  .github/ISSUE_TEMPLATE/Bug_Report.md
Labels: prioritized

#1942 Go v1.22.6
  go.mod
  tools/go.mod
Labels: prioritized

#1945 docs: added examples for awscc_glue_trigger
  docs/resources/glue_trigger.md
  examples/resources/awscc_glue_trigger/glue_trigger_ondemand.tf
  examples/resources/awscc_glue_trigger/glue_trigger_scheduled.tf
  templates/resources/glue_trigger.md.tmpl
Labels: documentation, examples, service/glue, partner

#1931 docs: added example for awscc_mediapackagev2_channel
  docs/resources/mediapackagev2_channel.md
  examples/resources/awscc_mediapackagev2_channel/mediapackagev2_channel.tf
  templates/resources/mediapackagev2_channel.md.tmpl
Labels: documentation, examples, partner, service/mediapackagev2

#1930 docs: added example for awscc_mediapackagev2_channel_group
  docs/resources/mediapackagev2_channel_group.md
  examples/resources/awscc_mediapackagev2_channel_group/mediapackagev2_channel_group.tf
  templates/resources/mediapackagev2_channel_group.md.tmpl
Labels: documentation, examples, partner, service/mediapackagev2

#1925 docs: added example for awscc_cloudtrail_channel
  docs/resources/cloudtrail_channel.md
  examples/resources/awscc_cloudtrail_channel/cloudtrail_channel.tf
  templates/resources/cloudtrail_channel.md.tmpl
Labels: documentation, examples, service/cloudtrail, partner

#1924 docs: added example for awscc_cloudtrail_event_data_store
  docs/resources/cloudtrail_event_data_store.md
  examples/resources/awscc_cloudtrail_event_data_store/cloudtrail_event_data_store_insights.tf
  examples/resources/awscc_cloudtrail_event_data_store/cloudtrail_event_data_store_management.tf
  templates/resources/cloudtrail_event_data_store.md.tmpl
Labels: documentation, examples, service/cloudtrail, partner

#1923 docs: added example for awscc_s3outposts_bucket_policy
  docs/resources/s3outposts_bucket_policy.md
  examples/resources/awscc_s3outposts_bucket_policy/s3outposts_bucket_policy.tf
  templates/resources/s3outposts_bucket_policy.md.tmpl
Labels: documentation, examples, service/s3outposts, partner

#1922 docs: added example for awscc_s3outposts_bucket
  docs/resources/s3outposts_bucket.md
  examples/resources/awscc_s3outposts_bucket/s3outposts_bucket.tf
  templates/resources/s3outposts_bucket.md.tmpl
Labels: documentation, examples, service/s3outposts, partner

#1921 docs: added examples for awscc_s3express_bucket_policy
  docs/resources/s3express_bucket_policy.md
  examples/resources/awscc_s3express_bucket_policy/s3express_bucket_policy_readonly.tf
  examples/resources/awscc_s3express_bucket_policy/s3express_bucket_policy_readwrite.tf
  templates/resources/s3express_bucket_policy.md.tmpl
Labels: documentation, examples, partner, service/s3express

#1920 docs: added example for awscc_s3express_directory_bucket
  docs/resources/s3express_directory_bucket.md
  examples/resources/awscc_s3express_directory_bucket/s3express_directory_bucket.tf
  templates/resources/s3express_directory_bucket.md.tmpl
Labels: documentation, examples, partner, service/s3express

#1919 fix: added example for awscc_s3_storage_lens
  docs/resources/s3_storage_lens.md
  examples/resources/awscc_s3_storage_lens/s3_storage_lens.tf
  templates/resources/s3_storage_lens.md.tmpl
Labels: documentation, examples, service/s3, partner

#1916 docs: added example for awscc_resourceexplorer2_index
  docs/resources/resourceexplorer2_index.md
  examples/resources/awscc_resourceexplorer2_index/resourceexplorer2_index.tf
  templates/resources/resourceexplorer2_index.md.tmpl
Labels: documentation, examples, partner, service/resourceexplorer2

#1915 docs: added example for awscc_resourceexplorer2_view
  docs/resources/resourceexplorer2_view.md
  examples/resources/awscc_resourceexplorer2_view/resourceexplorer2_view.tf
  templates/resources/resourceexplorer2_view.md.tmpl
Labels: documentation, examples, partner, service/resourceexplorer2

#1914 docs: added example for awscc_bedrock_flow_alias
  docs/resources/bedrock_flow_alias.md
  examples/resources/awscc_bedrock_flow_alias/bedrock_flow_alias.tf
  templates/resources/bedrock_flow_alias.md.tmpl
Labels: documentation, examples, partner, service/bedrock

#1913 docs: added example for awscc_bedrock_flow_version
  docs/resources/bedrock_flow_version.md
  examples/resources/awscc_bedrock_flow_version/bedrock_flow_version.tf
  templates/resources/bedrock_flow_version.md.tmpl
Labels: documentation, examples, partner, service/bedrock

#1911 docs: added example for awscc_secretsmanager_resource_policy
  docs/resources/secretsmanager_resource_policy.md
  examples/resources/awscc_secretsmanager_resource_policy/secretsmanager_resource_policy.tf
  templates/resources/secretsmanager_resource_policy.md.tmpl
Labels: documentation, examples, service/secretsmanager, partner

#1910 docs: added example for awscc_bedrock_prompt_version
  docs/resources/bedrock_prompt_version.md
  examples/resources/awscc_bedrock_prompt_version/bedrock_prompt_version.tf
  templates/resources/bedrock_prompt_version.md.tmpl
Labels: documentation, examples, partner, service/bedrock

#1909 docs: added example for awscc_bedrock_prompt
  docs/resources/bedrock_prompt.md
  examples/resources/awscc_bedrock_prompt/bedrock_prompt.tf
  templates/resources/bedrock_prompt.md.tmpl
Labels: documentation, examples, partner, service/bedrock

#1902 docs: added example for awscc_cleanrooms_collaboration
  docs/resources/cleanrooms_collaboration.md
  examples/resources/awscc_cleanrooms_collaboration/cleanrooms_collaboration.tf
  templates/resources/cleanrooms_collaboration.md.tmpl
Labels: documentation, examples, partner, service/cleanrooms

#1898 docs: Add examples for awscc_securityhub_finding_aggregator
  docs/resources/securityhub_finding_aggregator.md
  examples/resources/awscc_securityhub_finding_aggregator/all_regions.tf
  examples/resources/awscc_securityhub_finding_aggregator/all_regions_except_specified.tf
  examples/resources/awscc_securityhub_finding_aggregator/specified_regions.tf
  templates/resources/securityhub_finding_aggregator.md.tmpl
Labels: documentation, examples, service/securityhub, external-maintainer

#1895 docs: added example for awscc_xray_resource_policy
  docs/resources/xray_resource_policy.md
  examples/resources/awscc_xray_resource_policy/xray_resource_policy.tf
  templates/resources/xray_resource_policy.md.tmpl
Labels: documentation, examples, service/xray, partner

#1889 docs: added examples for awscc_lambda_alias
  docs/resources/lambda_alias.md
  examples/resources/awscc_lambda_alias/lambda_alias_basic.tf
  examples/resources/awscc_lambda_alias/lambda_alias_weighted.tf
  templates/resources/lambda_alias.md.tmpl
Labels: documentation, examples, service/lambda, partner

#1878 Docs: add examples for awscc_ec2_vpn_connection
  docs/resources/ec2_vpn_connection.md
  examples/resources/awscc_ec2_vpn_connection/tgw_vpn.tf
  examples/resources/awscc_ec2_vpn_connection/vgw_vpn.tf
  templates/resources/ec2_vpn_connection.md.tmpl
Labels: documentation, examples, service/ec2

#1782 fix: updated example for awscc_amplify_domain
  docs/resources/amplify_domain.md
  examples/resources/awscc_amplify_domain/amplify_domain.tf
Labels: documentation, examples, service/amplify, partner

#1780 fix: added guides under templates
  templates/guides/using-aws-with-awscc-provider.md.tmpl
Labels: documentation, partner

#1745 docs: added example for awscc_sagemaker_domain
  docs/resources/sagemaker_domain.md
  examples/resources/awscc_sagemaker_domain/sagemaker_domain.tf
  examples/resources/awscc_sagemaker_domain/sagemaker_domain_custom_image.tf
  templates/resources/sagemaker_domain.md.tmpl
Labels: documentation, examples, service/sagemaker

#1926 docs: added example for awscc_cloudtrail_resource_policy
  docs/resources/cloudtrail_resource_policy.md
  examples/resources/awscc_cloudtrail_resource_policy/cloudtrail_resource_policy.tf
  templates/resources/cloudtrail_resource_policy.md.tmpl
Labels: documentation, examples, service/cloudtrail, partner

#1950 make: Use .go-version by default
  .go-version
  GNUmakefile
Labels: go, external-maintainer

#1954 Add `awscc_timestream_influx_db_instance`
  CHANGELOG.md
  docs/data-sources/timestream_influx_db_instance.md
  docs/data-sources/timestream_influx_db_instances.md
  docs/guides/using-aws-with-awscc-provider.md
  docs/resources/timestream_influx_db_instance.md
  examples/resources/awscc_timestream_influx_db_instance/import.sh
  internal/aws/timestream/influx_db_instance_plural_data_source_gen.go
  internal/aws/timestream/influx_db_instance_plural_data_source_gen_test.go
  internal/aws/timestream/influx_db_instance_resource_gen.go
  internal/aws/timestream/influx_db_instance_resource_gen_test.go
  internal/aws/timestream/influx_db_instance_singular_data_source_gen.go
  internal/aws/timestream/influx_db_instance_singular_data_source_gen_test.go
  internal/provider/all_schemas.hcl
  internal/provider/plural_data_sources.go
  internal/provider/resources.go
  internal/provider/singular_data_sources.go
  internal/service/cloudformation/schemas/AWS_Timestream_InfluxDBInstance.json
Labels: prioritized

#1956 08/14/2024 CloudFormation schema refresh
  docs/data-sources/bedrock_data_source.md
  docs/data-sources/cognito_identity_pool.md
  docs/data-sources/cognito_log_delivery_configuration.md
  docs/data-sources/ec2_launch_template.md
  docs/data-sources/ec2_subnet_cidr_block.md
  docs/data-sources/ec2_vpc.md
  docs/data-sources/lambda_event_source_mapping.md
  docs/data-sources/s3_bucket.md
  docs/data-sources/systemsmanagersap_application.md
  docs/resources/bedrock_data_source.md
  docs/resources/cognito_identity_pool.md
  docs/resources/cognito_log_delivery_configuration.md
  docs/resources/ec2_launch_template.md
  docs/resources/ec2_subnet_cidr_block.md
  docs/resources/ec2_vpc.md
  docs/resources/lambda_event_source_mapping
  docs/resources/lambda_event_source_mapping.md
  docs/resources/s3_bucket.md
  docs/resources/systemsmanagersap_application.md
  internal/aws/bedrock/data_source_resource_gen.go
  internal/aws/bedrock/data_source_singular_data_source_gen.go
  internal/aws/cognito/identity_pool_resource_gen.go
  internal/aws/cognito/identity_pool_singular_data_source_gen.go
  internal/aws/cognito/log_delivery_configuration_resource_gen.go
  internal/aws/cognito/log_delivery_configuration_singular_data_source_gen.go
  internal/aws/ec2/launch_template_resource_gen.go
  internal/aws/ec2/launch_template_singular_data_source_gen.go
  internal/aws/ec2/subnet_cidr_block_resource_gen.go
  internal/aws/ec2/subnet_cidr_block_singular_data_source_gen.go
  internal/aws/ec2/vpc_resource_gen.go
  internal/aws/ec2/vpc_singular_data_source_gen.go
  internal/aws/lambda/event_source_mapping_resource_gen.go
  internal/aws/lambda/event_source_mapping_singular_data_source_gen.go
  internal/aws/s3/bucket_resource_gen.go
  internal/aws/s3/bucket_singular_data_source_gen.go
  internal/aws/signer/signing_profile_resource_gen.go
  internal/aws/signer/signing_profile_singular_data_source_gen.go
  internal/aws/systemsmanagersap/application_resource_gen.go
  internal/aws/systemsmanagersap/application_singular_data_source_gen.go
  internal/aws/timestream/influx_db_instance_resource_gen.go
  internal/aws/vpclattice/auth_policy_resource_gen.go
  internal/aws/vpclattice/auth_policy_singular_data_source_gen.go
  internal/provider/generators/allschemas/available_schemas.2024-08-14.hcl
  internal/service/cloudformation/schemas/AWS_Bedrock_DataSource.json
  internal/service/cloudformation/schemas/AWS_Cognito_IdentityPool.json
  internal/service/cloudformation/schemas/AWS_Cognito_LogDeliveryConfiguration.json
  internal/service/cloudformation/schemas/AWS_Cognito_UserPool.json
  internal/service/cloudformation/schemas/AWS_EC2_LaunchTemplate.json
  internal/service/cloudformation/schemas/AWS_EC2_SecurityGroup.json
  internal/service/cloudformation/schemas/AWS_EC2_SubnetCidrBlock.json
  internal/service/cloudformation/schemas/AWS_EC2_VPC.json
  internal/service/cloudformation/schemas/AWS_EC2_VPCPeeringConnection.json
  internal/service/cloudformation/schemas/AWS_Lambda_EventSourceMapping.json
  internal/service/cloudformation/schemas/AWS_Route53_HostedZone.json
  internal/service/cloudformation/schemas/AWS_S3_Bucket.json
  internal/service/cloudformation/schemas/AWS_Signer_SigningProfile.json
  internal/service/cloudformation/schemas/AWS_SystemsManagerSAP_Application.json
  internal/service/cloudformation/schemas/AWS_VpcLattice_AuthPolicy.json
Labels: prioritized

#1610 docs: add example for awscc_acmpca_certificate
  docs/resources/acmpca_certificate.md
  examples/resources/awscc_acmpca_certificate/certificate.tf
  templates/resources/acmpca_certificate.md.tmpl
Labels: documentation, examples, service/acmpca, partner

#1951 docs : add example for awscc_stepfunctions_state_machine
  docs/resources/stepfunctions_state_machine.md
  examples/resources/awscc_stepfunctions_state_machine/stepfunctions_state_machine.tf
  templates/resources/stepfunctions_state_machine.md.tmpl
Labels: documentation, examples, partner, service/stepfunctions

#1980 split make targets for docs generation
  GNUmakefile
Labels: prioritized
