Repository hashicorp/terraform-provider-awscc, pull requests merged in 2024-07, with the labels that each got.

#1736 docs: added example for awscc_neptune_db_cluster
  docs/resources/neptune_db_cluster.md
  examples/resources/awscc_neptune_db_cluster/neptune_db_cluster.tf
  templates/resources/neptune_db_cluster.md.tmpl
Labels: documentation, examples, service/neptune

#1867 docs: added example for awscc_healthlake_fhir_datastore
  docs/resources/healthlake_fhir_datastore.md
  examples/resources/awscc_healthlake_fhir_datastore/healthlake_fhir_datastore.tf
  templates/resources/healthlake_fhir_datastore.md.tmpl
Labels: documentation, examples, service/healthlake

#1885 Go v1.22.5
  go.mod
  tools/go.mod
Labels: go

#1887 docs: update notes on awscc_xray_sampling_rule
  docs/resources/xray_sampling_rule.md
  examples/resources/awscc_xray_sampling_rule/xray_sampling_rule.tf
Labels: documentation, examples, service/xray

#1822 docs: Add examples for awscc_lightsail_*
  docs/resources/lightsail_alarm.md
  docs/resources/lightsail_bucket.md
  docs/resources/lightsail_certificate.md
  docs/resources/lightsail_container.md
  docs/resources/lightsail_database.md
  docs/resources/lightsail_disk.md
  docs/resources/lightsail_distribution.md
  docs/resources/lightsail_instance.md
  docs/resources/lightsail_load_balancer.md
  docs/resources/lightsail_load_balancer_tls_certificate.md
  docs/resources/lightsail_static_ip.md
  examples/resources/awscc_lightsail_alarm/db.tf
  examples/resources/awscc_lightsail_alarm/instance.tf
  examples/resources/awscc_lightsail_alarm/lb.tf
  examples/resources/awscc_lightsail_bucket/basic.tf
  examples/resources/awscc_lightsail_bucket/security.tf
  examples/resources/awscc_lightsail_certificate/lightsail_certificate.tf
  examples/resources/awscc_lightsail_container/lightsail_container.tf
  examples/resources/awscc_lightsail_database/mysql.tf
  examples/resources/awscc_lightsail_database/postgres.tf
  examples/resources/awscc_lightsail_disk/auto_snapshot.tf
  examples/resources/awscc_lightsail_disk/basic.tf
  examples/resources/awscc_lightsail_distribution/bucket.tf
  examples/resources/awscc_lightsail_distribution/instance.tf
  examples/resources/awscc_lightsail_distribution/lb.tf
  examples/resources/awscc_lightsail_instance/auto_snapshot.tf
  examples/resources/awscc_lightsail_instance/basic.tf
  examples/resources/awscc_lightsail_instance/custom_web_server.tf
  examples/resources/awscc_lightsail_load_balancer/basic.tf
  examples/resources/awscc_lightsail_load_balancer/ha.tf
  examples/resources/awscc_lightsail_load_balancer_tls_certificate/lightsail_load_balancer_tls_certificate.tf
  examples/resources/awscc_lightsail_static_ip/lightsail_static_ip.tf
  templates/resources/lightsail_alarm.md.tmpl
  templates/resources/lightsail_bucket.md.tmpl
  templates/resources/lightsail_certificate.md.tmpl
  templates/resources/lightsail_container.md.tmpl
  templates/resources/lightsail_database.md.tmpl
  templates/resources/lightsail_disk.md.tmpl
  templates/resources/lightsail_distribution.md.tmpl
  templates/resources/lightsail_instance.md.tmpl
  templates/resources/lightsail_load_balancer.md.tmpl
  templates/resources/lightsail_load_balancer_tls_certificate.md.tmpl
  templates/resources/lightsail_static_ip.md.tmpl
Labels: documentation, examples, service/lightsail, external-maintainer

#1864 docs: added example for awscc_iot_topic_rule
  docs/resources/iot_topic_rule.md
  examples/resources/awscc_iot_topic_rule/iot_topic_rule.tf
  templates/resources/iot_topic_rule.md.tmpl
Labels: documentation, examples, service/iot

#1899 docs: Add examples for awscc_securityhub_hub
  docs/resources/securityhub_hub.md
  examples/resources/awscc_securityhub_hub/basic.tf
  examples/resources/awscc_securityhub_hub/disable_default_standards.tf
  templates/resources/securityhub_hub.md.tmpl
Labels: documentation, examples, service/securityhub

#1900 docs: Add example for awscc_security_hub_product_subscription
  docs/resources/securityhub_product_subscription.md
  examples/resources/awscc_securityhub_product_subscription/securityhub_product_subscription.tf
  templates/resources/securityhub_product_subscription.md.tmpl
Labels: documentation, examples, service/securityhub

#1897 docs: Add example for awscc_securityhub_delegated_admin
  docs/resources/securityhub_delegated_admin.md
  examples/resources/awscc_securityhub_delegated_admin/securityhub_delegated_admin.tf
  templates/resources/securityhub_delegated_admin.md.tmpl
Labels: documentation, examples, service/securityhub

#1861 docs: added example for awscc_billingconductor_billing_group
  docs/resources/billingconductor_billing_group.md
  examples/resources/awscc_billingconductor_billing_group/billingconductor_billing_group.tf
  templates/resources/billingconductor_billing_group.md.tmpl
Labels: documentation, examples, service/billingconductor

#1857 docs: added example for awscc_backup_framework
  docs/resources/backup_framework.md
  examples/resources/awscc_backup_framework/backup_framework.tf
  templates/resources/backup_framework.md.tmpl
Labels: documentation, examples, service/backup

#1751 docs: added example for awscc_qbusiness_data_source
  docs/resources/qbusiness_data_source.md
  examples/resources/awscc_qbusiness_data_source/qbusiness_data_source.tf
  templates/resources/qbusiness_data_source.md.tmpl
Labels: documentation, examples, service/qbusiness

#1927 Fix community check
  .github/actions/community_check/action.yml
Labels: needs-triage
