Repository hashicorp/terraform-provider-awscc, pull requests merged in 2024-04, with the labels that each got.

#1502 D improve supportapp slack channel configuration
  docs/resources/supportapp_slack_channel_configuration.md
  examples/resources/awscc_supportapp_slack_channel_configuration/supportapp_slack_channel_configuration.tf
  templates/resources/supportapp_slack_channel_configuration.md.tmpl
Labels: documentation, examples

#1493 docs - awscc_cognito_identity_pool
  docs/resources/cognito_identity_pool.md
  examples/resources/awscc_cognito_identity_pool/create_default_identity_pool.tf
  examples/resources/awscc_cognito_identity_pool/link_identity_pool_to_user_pool_provider.tf
  templates/resources/cognito_identity_pool.md.tmpl
Labels: documentation, examples, service/cognito

#1157 docs: add example for: awscc_route53_hosted_zone
  docs/resources/route53_hosted_zone.md
  examples/resources/awscc_route53_hosted_zone/awscc_route53_hosted_zone.tf
  examples/resources/awscc_route53_hosted_zone/awscc_route53_hosted_zone_private.tf
  templates/resources/route53_hosted_zone.md.tmpl
Labels: documentation, examples, waiting-response, service/route53

#1464 add example for awscc_supportapp_slack_workspace_configuration
  docs/resources/supportapp_slack_workspace_configuration.md
  examples/resources/awscc_supportapp_slack_workspace_configuration/supportapp_slack_workspace_configuration.tf
  templates/resources/supportapp_slack_workspace_configuration.md.tmpl
Labels: documentation, examples, service/support

#1489 docs: add example for: awscc_controltower_enabled_control
  docs/resources/controltower_enabled_control.md
  examples/resources/awscc_controltower_enabled_control/controltower_enabled_control.tf
  templates/resources/controltower_enabled_control.md.tmpl
Labels: documentation, examples

#1534 docs - awscc_sns_topic
  docs/resources/sns_topic.md
  examples/resources/awscc_sns_topic/sns_topic.tf
  examples/resources/awscc_sns_topic/sns_topic_fifo.tf
  templates/resources/sns_topic.md.tmpl
Labels: documentation, examples, service/sns

#1523 d-improve-greengrassv2_component_version
  docs/resources/greengrassv2_component_version.md
  examples/resources/awscc_greengrassv2_component_version/greengrassv2_component_version.tf
  examples/resources/awscc_greengrassv2_component_version/greengrassv2_component_version_lambda-nested.tf
  examples/resources/awscc_greengrassv2_component_version/greengrassv2_component_version_lambda.tf
  templates/resources/greengrassv2_component_version.md.tmpl
Labels: documentation, examples, service/greengrass

#1551 docs: add/fix examples for s3_bucket
  docs/resources/s3_bucket.md
  examples/resources/awscc_s3_bucket/s3_bucket_encryption.tf
  examples/resources/awscc_s3_bucket/s3_bucket_kms.tf
  examples/resources/awscc_s3_bucket/s3_bucket_lifecycle_abort_incomplete_upload.tf
  examples/resources/awscc_s3_bucket/s3_bucket_lifecycle_expire_filter_tags.tf
  examples/resources/awscc_s3_bucket/s3_bucket_lifecycle_expire_noncurrent_version.tf
  examples/resources/awscc_s3_bucket/s3_bucket_lifecycle_filter_object_range_prefix.tf
  examples/resources/awscc_s3_bucket/s3_bucket_lifecycle_filter_object_size_greater_than.tf
  examples/resources/awscc_s3_bucket/s3_bucket_lifecycle_storage_transitions.tf
  examples/resources/awscc_s3_bucket/s3_bucket_ownership_control.tf
  examples/resources/awscc_s3_bucket/s3_bucket_versioning.tf
  templates/resources/s3_bucket.md.tmpl
Labels: documentation, examples, service/s3

#1547 docs: fix example for awscc_sns_topic
  docs/resources/sns_topic.md
  examples/resources/awscc_sns_topic/sns_topic.tf
  examples/resources/awscc_sns_topic/sns_topic_fifo.tf
Labels: documentation, examples, service/sns

#1577 docs: added example for iam_saml_provider
  docs/resources/iam_saml_provider.md
  examples/resources/awscc_iam_saml_provider/iam_saml_provider.tf
  templates/resources/iam_saml_provider.md.tmpl
Labels: documentation, examples, service/iam

#1576 docs: added example for cloudfront_key_group
  docs/resources/cloudfront_key_group.md
  examples/resources/awscc_cloudfront_key_group/cloudfront_key_group.tf
  templates/resources/cloudfront_key_group.md.tmpl
Labels: documentation, examples, service/cloudfront

#1574 docs: added example for cloudfront_cache_policy
  docs/resources/cloudfront_cache_policy.md
  examples/resources/awscc_cloudfront_cache_policy/cloudfront_cache_policy.tf
  templates/resources/cloudfront_cache_policy.md.tmpl
Labels: documentation, examples, service/cloudfront

#1573 docs: add examples for cloudfront_response_headers_policy
  docs/resources/cloudfront_response_headers_policy.md
  examples/resources/awscc_cloudfront_response_headers_policy/cloudfront_response_headers_policy.tf
  examples/resources/awscc_cloudfront_response_headers_policy/cloudfront_response_headers_policy_custom.tf
  examples/resources/awscc_cloudfront_response_headers_policy/cloudfront_response_headers_policy_custom_server_timing.tf
  templates/resources/cloudfront_response_headers_policy.md.tmpl
Labels: documentation, examples, service/cloudfront

#1570 docs: add examples for cloudfront_key_value_store
  docs/resources/cloudfront_key_value_store.md
  examples/resources/awscc_cloudfront_key_value_store/cloudfront_key_value_store.tf
  examples/resources/awscc_cloudfront_key_value_store/cloudfront_key_value_store_s3_source.tf
  templates/resources/cloudfront_key_value_store.md.tmpl
Labels: documentation, examples, service/cloudfront

#1569 docs: add examples for cloudfront_function
  docs/resources/cloudfront_function.md
  examples/resources/awscc_cloudfront_function/cloudfront_function.tf
  examples/resources/awscc_cloudfront_function/cloudfront_function_with_key_store.tf
  templates/resources/cloudfront_function.md.tmpl
Labels: documentation, examples, service/cloudfront

#1567 docs: add example for glue_schema_version
  docs/resources/glue_schema_version.md
  examples/resources/awscc_glue_schema_version/glue_schema_version.tf
  templates/resources/glue_schema_version.md.tmpl
Labels: documentation, examples, service/glue

#1565 docs: added example for glue_schema
  docs/resources/glue_schema.md
  examples/resources/awscc_glue_schema/glue_schema.tf
  templates/resources/glue_schema.md.tmpl
Labels: documentation, examples, service/glue

#1559 docs: add example for: apigateway method
  docs/resources/apigateway_method.md
  examples/resources/awscc_apigateway_method/apigateway_method_basic_example.tf
  examples/resources/awscc_apigateway_method/apigateway_method_model_example.tf
  templates/resources/apigateway_method.md.tmpl
Labels: documentation, examples, service/apigateway

#1556 docs: added example for kendra_index
  docs/resources/kendra_index.md
  examples/resources/awscc_kendra_index/kendra_index.tf
  templates/resources/kendra_index.md.tmpl
Labels: documentation, examples, service/kendra

#1555 docs: added example for ec2_vpc ipv6
  docs/resources/ec2_vpc.md
  examples/resources/awscc_ec2_vpc/ec2_vpc_ipam.tf
  examples/resources/awscc_ec2_vpc/ec2_vpc_ipv6.tf
  templates/resources/ec2_vpc.md.tmpl
Labels: documentation, examples, service/ec2

#1553 docs: add examples for ec2_security_group_ingress
  docs/resources/ec2_security_group_ingress.md
  examples/resources/awscc_ec2_security_group_ingress/ec2_security_group_ingress.tf
  templates/resources/ec2_security_group_ingress.md.tmpl
Labels: documentation, examples, service/ec2

#1552 docs: added examples for ec2_security_group
  docs/resources/ec2_security_group.md
  examples/resources/awscc_ec2_security_group/ec2_security_group_ingress_egress.tf
  examples/resources/awscc_ec2_security_group/ec2_security_group_no_rules.tf
  templates/resources/ec2_security_group.md.tmpl
Labels: documentation, examples, service/ec2

#1548 docs: add example for glue_registry
  docs/resources/glue_registry.md
  examples/resources/awscc_glue_registry/glue_registry.tf
  templates/resources/glue_registry.md.tmpl
Labels: documentation, examples, service/glue

#1605 docs: add examples for awscc_ssm_document
  docs/resources/ssm_document.md
  examples/resources/awscc_ssm_document/ssm_document_json.tf
  examples/resources/awscc_ssm_document/ssm_document_yaml.tf
  templates/resources/ssm_document.md.tmpl
Labels: documentation, examples, service/ssm

#1604 docs: add example for awscc_cloudtrail_trail
  docs/resources/cloudtrail_trail.md
  examples/resources/awscc_cloudtrail_trail/cloudwatch_logs_trail.tf
  examples/resources/awscc_cloudtrail_trail/complex_trail.tf
  examples/resources/awscc_cloudtrail_trail/trail.tf
  templates/resources/cloudtrail_trail.md.tmpl
Labels: documentation, examples, service/cloudtrail

#1603 docs: update example for awscc_ec2_internet_gateway
  docs/resources/ec2_internet_gateway.md
  examples/resources/awscc_ec2_internet_gateway/ec2_internet_gateway.tf
Labels: documentation, examples, service/ec2

#1602 docs: add example for awscc_ec2_vpc_gateway_attachment
  docs/resources/ec2_vpc_gateway_attachment.md
  examples/resources/awscc_ec2_vpc_gateway_attachment/igw_attachment.tf
  examples/resources/awscc_ec2_vpc_gateway_attachment/vpn_attachment.tf
  templates/resources/ec2_vpc_gateway_attachment.md.tmpl
Labels: documentation, examples, service/ec2

#1601 docs: add example for awscc_ec2_gateway_route_table_association
  docs/resources/ec2_gateway_route_table_association.md
  examples/resources/awscc_ec2_gateway_route_table_association/internet_gateway_association.tf
  examples/resources/awscc_ec2_gateway_route_table_association/virtual_private_gateway_association.tf
  templates/resources/ec2_gateway_route_table_association.md.tmpl
Labels: documentation, examples, service/ec2

#1599 docs: add example for awscc_ec2_flow_log
  docs/resources/ec2_flow_log.md
  examples/resources/awscc_ec2_flow_log/cloudwatch.tf
  examples/resources/awscc_ec2_flow_log/firehose.tf
  examples/resources/awscc_ec2_flow_log/s3.tf
  examples/resources/awscc_ec2_flow_log/s3_parquet.tf
  templates/resources/ec2_flow_log.md.tmpl
Labels: documentation, examples, service/ec2

#1596 docs: add example for guardduty_detector
  docs/resources/guardduty_detector.md
  examples/resources/awscc_guardduty_detector/guardduty_detector.tf
  templates/resources/guardduty_detector.md.tmpl
Labels: documentation, examples, service/guardduty

#1595 docs: added example for fis_experiment_template
  docs/resources/fis_experiment_template.md
  examples/resources/awscc_fis_experiment_template/fis_experiment_template.tf
  templates/resources/fis_experiment_template.md.tmpl
Labels: documentation, examples

#1594 docs: add examples for cloudformation_stack
  docs/resources/cloudformation_stack.md
  examples/resources/awscc_cloudformation_stack/cloudformation_stack.tf
  templates/resources/cloudformation_stack.md.tmpl
Labels: documentation, examples, service/cloudformation

#1593 docs: add examples for apigateway_model
  docs/resources/apigateway_model.md
  examples/resources/awscc_apigateway_model/apigateway_model.tf
  templates/resources/apigateway_model.md.tmpl
Labels: documentation, examples, service/apigateway

#1592 docs: add examples for apigateway_api_key
  docs/resources/apigateway_api_key.md
  examples/resources/awscc_apigateway_api_key/apigateway_api_key.tf
  templates/resources/apigateway_api_key.md.tmpl
Labels: documentation, examples, service/apigateway

#1588 docs: added examples for datazone_domain
  docs/resources/datazone_domain.md
  examples/resources/awscc_datazone_domain/datazone_domain.tf
  templates/resources/datazone_domain.md.tmpl
Labels: documentation, examples

#1585 docs: added example for ec2_key_pair
  docs/resources/ec2_key_pair.md
  examples/resources/awscc_ec2_key_pair/ec2_key_pair.tf
  templates/resources/ec2_key_pair.md.tmpl
Labels: documentation, examples, service/ec2

#1584 docs: updated examples for sns_topic_inline_policy
  docs/resources/sns_topic_inline_policy.md
  examples/resources/awscc_sns_topic_inline_policy/sns_topic_inline_policy.tf
  templates/resources/sns_topic_inline_policy.md.tmpl
Labels: documentation, examples, service/sns

#1583 docs: add examples for xray_sampling_rule
  docs/resources/xray_sampling_rule.md
  examples/resources/awscc_xray_sampling_rule/xray_sampling_rule.tf
  templates/resources/xray_sampling_rule.md.tmpl
Labels: documentation, examples, service/xray

#1581 docs: added example for xray_group
  docs/resources/xray_group.md
  examples/resources/awscc_xray_group/xray_group.tf
  templates/resources/xray_group.md.tmpl
Labels: documentation, examples, service/xray

#1580 docs: add examples for wafv2_regex_pattern_set
  docs/resources/wafv2_regex_pattern_set.md
  examples/resources/awscc_wafv2_regex_pattern_set/wafv2_regex_pattern_set.tf
  templates/resources/wafv2_regex_pattern_set.md.tmpl
Labels: documentation, examples, service/wafv2

#1579 docs: added examples for wafv2_ip_set
  docs/resources/wafv2_ip_set.md
  examples/resources/awscc_wafv2_ip_set/wafv2_ip_set.tf
  templates/resources/wafv2_ip_set.md.tmpl
Labels: documentation, examples, service/wafv2
