Repository hashicorp/terraform-provider-awscc, pull requests merged in 2024-12, with the labels that each got.

#2111 docs: add example for awscc_connect_routing_profile
  docs/resources/connect_routing_profile.md
  examples/resources/awscc_connect_routing_profile/resource.tf
  templates/resources/connect_routing_profile.md.tmpl
Labels: documentation, examples, service/connect, partner

#2020 docs: add example for awscc_greengrassv2_deployment
  docs/resources/greengrassv2_deployment.md
  examples/resources/awscc_greengrassv2_deployment/greengrassv2_deployment.tf
  templates/resources/greengrassv2_deployment.md.tmpl
Labels: documentation, examples, partner, service/greengrassv2

#1626 docs: add example for awscc_acmpca_certificate_authority_activation
  docs/resources/acmpca_certificate_authority_activation.md
  examples/resources/awscc_acmpca_certificate_authority_activation/self_signed_certificate_authority.tf
  examples/resources/awscc_acmpca_certificate_authority_activation/subordinate_certificate.tf
  templates/resources/acmpca_certificate_authority_activation.md.tmpl
Labels: documentation, examples, service/acmpca, partner
