Repository hashicorp/terraform-provider-awscc, pull requests merged in 2024-06, with the labels that each got.

#1743 Add `prioritized` label
  infrastructure/repository/labels-workflow.tf
Labels: github_actions

#1742 Introduce labelers workflow
  .github/workflows/issues.yml
  .github/workflows/labelers.yml
  .github/workflows/pull_requests.yml
Labels: github_actions

#1764 docs: added example for awscc_sagemaker_user_profile
  docs/resources/sagemaker_user_profile.md
  examples/resources/awscc_sagemaker_user_profile/sagemaker_user_profile.tf
  templates/resources/sagemaker_user_profile.md.tmpl
Labels: documentation, examples, service/sagemaker

#1763 docs: added example for awscc_appconfig_environment
  docs/resources/appconfig_environment.md
  examples/resources/awscc_appconfig_environment/appconfig_environment.tf
  templates/resources/appconfig_environment.md.tmpl
Labels: documentation, examples, service/appconfig

#1762 docs: added example for awscc_appconfig_application
  docs/resources/appconfig_application.md
  examples/resources/awscc_appconfig_application/appconfig_application.tf
  templates/resources/appconfig_application.md.tmpl
Labels: documentation, examples, service/appconfig

#1761 docs: added example for awscc_iot_billing_group
  docs/resources/iot_billing_group.md
  examples/resources/awscc_iot_billing_group/iot_billing_group.tf
  templates/resources/iot_billing_group.md.tmpl
Labels: documentation, examples, service/iot

#1803 Fix labeler workflow by specifying GitHub token
  .github/workflows/labelers.yml
Labels: github_actions, prioritized

#1802 docs: bump version in example
  docs/index.md
  templates/index.md.tmpl
Labels: documentation

#1813 Fix `panic: Go Duration ValueDuration Error`
  CHANGELOG.md
  internal/provider/provider.go
  internal/types/duration.go
  internal/types/duration_test.go
Labels: prioritized

#1827 Add a codeowners file
  CODEOWNERS
Labels: prioritized

#1801 docs: added examples for awscc_apigateway_gateway_response
  docs/resources/apigateway_gateway_response.md
  examples/resources/awscc_apigateway_gateway_response/apigateway_gateway_response_401.tf
  examples/resources/awscc_apigateway_gateway_response/apigateway_gateway_response_404.tf
  templates/resources/apigateway_gateway_response.md.tmpl
Labels: documentation, examples, service/apigateway

#1781 docs: added example for awscc_datazone_environment_profile
  docs/resources/datazone_environment_profile.md
  examples/resources/awscc_datazone_environment_profile/datazone_environment_profile.tf
  templates/resources/datazone_environment_profile.md.tmpl
Labels: documentation, examples, service/datazone

#1779 docs: added example for awscc_datazone_environment_blueprint_configuration
  docs/resources/datazone_environment_blueprint_configuration.md
  examples/resources/awscc_datazone_environment_blueprint_configuration/datazone_environment_blueprint_configuration.tf
  templates/resources/datazone_environment_blueprint_configuration.md.tmpl
Labels: documentation, examples, service/datazone

#1778 docs: added example for awscc_datazone_project
  docs/resources/datazone_project.md
  examples/resources/awscc_datazone_project/datazone_project.tf
  templates/resources/datazone_project.md.tmpl
Labels: documentation, examples, service/datazone

#1769 docs: added example for awscc_kms_replica_key
  docs/resources/kms_replica_key.md
  examples/resources/awscc_kms_replica_key/kms_replica_key.tf
  templates/resources/kms_replica_key.md.tmpl
Labels: documentation, examples, service/kms

#1768 docs: added example for awscc_emr_security_configuration
  docs/resources/emr_security_configuration.md
  examples/resources/awscc_emr_security_configuration/emr_security_configuration.tf
  templates/resources/emr_security_configuration.md.tmpl
Labels: documentation, examples, service/emr

#1767 docs: added examples for awscc_emrserverless_application
  docs/resources/emrserverless_application.md
  examples/resources/awscc_emrserverless_application/emrserverless_application_hive.tf
  examples/resources/awscc_emrserverless_application/emrserverless_application_init_capacity.tf
  examples/resources/awscc_emrserverless_application/emrserverless_application_max_capacity.tf
  examples/resources/awscc_emrserverless_application/emrserverless_application_spark.tf
  templates/resources/emrserverless_application.md.tmpl
Labels: documentation, examples, service/emrserverless

#1843 Go v1.22.4
  go.mod
  tools/go.mod
Labels: prioritized

#1845 Update community check to Composite Action
  .github/actions/community_check/README.md
  .github/actions/community_check/action.yml
  .github/workflows/labelers.yml
Labels: prioritized

#1833 docs: added examples for awscc_connect_instance
  docs/resources/connect_instance.md
  examples/resources/awscc_connect_instance/connect_instance_managed.tf
  examples/resources/awscc_connect_instance/connect_instance_saml.tf
  templates/resources/connect_instance.md.tmpl
Labels: documentation, examples, service/connect

#1837 docs: added example for awscc_connect_contact_flow_module
  docs/resources/connect_contact_flow_module.md
  examples/resources/awscc_connect_contact_flow_module/connect_contact_flow_module.tf
  templates/resources/connect_contact_flow_module.md.tmpl
Labels: documentation, examples, service/connect

#1836 docs: added examples for awscc_connect_quick_connect
  docs/resources/connect_quick_connect.md
  examples/resources/awscc_connect_quick_connect/connect_quick_connect_phone.tf
  examples/resources/awscc_connect_quick_connect/connect_quick_connect_queue.tf
  templates/resources/connect_quick_connect.md.tmpl
Labels: documentation, examples, service/connect

#1835 docs: added example for awscc_connect_contact_flow
  docs/resources/connect_contact_flow.md
  examples/resources/awscc_connect_contact_flow/connect_contact_flow.tf
  templates/resources/connect_contact_flow.md.tmpl
Labels: documentation, examples, service/connect

#1834 docs: added example for awscc_connect_queue
  docs/resources/connect_queue.md
  examples/resources/awscc_connect_queue/connect_queue.tf
  templates/resources/connect_queue.md.tmpl
Labels: documentation, examples, service/connect
